{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="{% url 'recipe_new' %}">Write a recipe</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="recipe-detail">
    <h1>{{ recipe.name }}</h1>
    <div>
      {% if recipe.image %}
        <img src="{{ recipe.image }}" class="pull-right" style="width 100%;max-width: 400px">
      {% endif %}
      <p>
        <b>Created:</b> {{ recipe.create|date:"Y M d" }}
      </p>
      <p>
        <b>Updated:</b> {{ recipe.updated|date:"Y M d" }}
      </p>
      <p><b>Tags:</b> {% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
      <p>{{ recipe.description }}</p>
      <h2>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Amount</th>
            <th>Food item</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in recipe.recipe.all %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.measure.name }}</td>
              <td>{{ ingredient.food.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Steps</h2>
      <ol>
        {% for step in recipe.steps.all %}
          <li>{{ step.directions }}</li>
        {% endfor %}
      </ol>
  </div>
  </main>
</body>

</html>
